{% macro input(field, placeholder, icon_path) %}
    <div class="relative">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-green-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ icon_path }}"/>
            </svg>
        </div>
        {{ form_widget(field, {
            'attr': {
                'class': 'pl-10 w-full rounded-lg border-gray-200 focus:border-green-500
                          focus:ring focus:ring-green-200 focus:ring-opacity-50 transition-all',
                'placeholder': placeholder
            }
        }) }}
    </div>
{% endmacro %}